@model Studyo.Models.Subject

@{
    ViewData["Title"] = Model.Name;
}

    <div class="text-center">
    <h1 class="display-4">@Model.Name</h1>
    <p>Capítulos:</p>
    <select>
    <option value="Escolher capítulo">Escolher capítulo</option>
    @foreach (var chapter in Model.Chapters)
    {
        <option>@chapter.Name</option>
    }
    </select>
</div>

