@model Studyo.Models.Quiz

@{
    ViewData["Title"] = "Quiz";
}

<style>

    .botao_simples {
        display: inline-block;
        width: 200px;
        height: 40px;
        margin: 20px 10px;
        background-color: transparent;
        color: white;
        border: 2px solid white;
        text-align: center;
        line-height: 40px;
        font-weight: bold;
        text-decoration: none;
    }

        .botao_simples:hover,
        .botao_simples:active {
            color: white;
            border-color: white;
            text-decoration: none;
        }

    .buttons {
        text-align: center;
    }
</style>

@foreach (var item in Model.QuizQuestions)
{
    <h1>@Html.DisplayFor(modelItem => item.Question)</h1>

    @foreach (var answer in item.Answers)
    {
        <p> - @Html.DisplayFor(modelItem => answer.Answer)</p>
    }
}

<div class="buttons">
    <a class="botao_simples" asp-controller="Materia" asp-action="ConteudoEscolhido" asp-route-id="@Model.ChapterId">
        Voltar
    </a>
    <a class="botao_simples" asp-controller="" asp-action="">
        Submeter???
    </a>
</div>