@{
    ViewData["Title"] = "Home Page";
}


<div>
    <div>
        <h1>BEM VINDO AO STUDYO</h1>
        <p>Caminha connosco numa jornada de aprendizagem</p>
        <p>A Studyo é uma Aplicação Web que tem como objetivo ensinar-te não só a matéria que necessitas mas também ensinar-te as melhores técnicas de estudo, tais como:</p>
    </div>
    <div class="row">
        <div class="column">
            <img src="~/images/image_pomodoro.png" alt="Pomodoro" height="150px" width="150px">
            <p style="margin-left: 40px">Pomodoro</p>
        </div>
        <div class="column">
            <img src="~/images/active_recall.png" alt="Active recall" height="150px" width="150px">
            <p style="margin-left: 35px">Active Recall</p>
        </div>
        <div class="column">
            <img src="~/images/spaced.png" alt="Spaced repetition" height="150px" width="150px">
            <p style="margin-left: 15px">Spaced Repetition</p>
        </div>
    </div>
    <div>
        <div class="instructions">
            <h2>Instruções para o Pomodoro</h2>
            <p>Poderá ser encontrado o temporizador na parte direita do seu monitor quando estiver com um capítulo aberto.</p>
            <ol>
                <li><strong>Defina um temporizador:</strong> Comece por desligar todas as distrações e configure o temporizador.</li>
                <li><strong>Concentre-se:</strong> Durante esse período, esforce-se para se concentrar para estudar. Mesmo que sua mente divague, retorne à tarefa.</li>
                <li><strong>Recompense-se:</strong> Quando o tempo acabar, faça uma pausa. Estique-se, tome um chá ou café, ou simplesmente relaxe durante o tempo de descanço.</li>
                <li><strong>Repita diariamente:</strong> Tente fazer isso todos os dias, preferencialmente no mesmo horário. Com o tempo, você criará o hábito de estudar ou trabalhar com foco.</li>
            </ol>
        </div>
        <div>
            <h2>Active Recall</h2>
            <ul>
                <li>Através da realização de Quizes a nossa aplicação promove a tecnica de estudo Active Recall.</li>
                <li>Active Recall diz que uma pessoa consegue entender melhor a matéria realizando questões sobre a mesma e não só focar em ler repetidamente a matéria.</li>
                <li>Através do nosso sistema encorajamos que o aluno responda a perguntas até ter 75% das respostas corretas estando assim melhor preparados para a avaliações.</li>
            </ul>
        </div>
        <div>
            <h2>Spaced Repetition</h2>
            <ul>
                <li>Através da realização de Anki Cards a nossa aplicação promove a tecnica de estudo Spaced Repetition.</li>
                <li>Spaced Repetition diz que existe já um bom conhecimento de certa parte da matéria não nececitamos de vê-la tantas vezes quanto a uma parte ao qual nãoentendemos assim tão bem.</li>
                <li>Esta tecnica é utilizada enquanto se está a utilizar os Anki Cards. Quando se obtem a resposta o cartão de memoria será dada a opção de escolha entre “Facil”, “Medio”, “Dificil”.</li>
                <li>A sua resposta irá influenciar o quanto tempo demorará para a mesma anki Card voltar a Aparecer.</li>
            </ul>
        </div>
    </div>
</div>





