@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/images/logo_studyo.png" alt="Logótipo da aplicação">
</div>

<p><b>BEM VINDO AO STUDYO</b></p>
<p>Caminha connosco numa jornada de aprendizagem</p>

<p>A Studyo é uma Aplicação Web que tem como objetivo ensinar-te não só a matéria que necessitas mas também ensinar-te as melhores técnicas de estudo, tais como:</p>

<div class="row">
    <div class="column">
        <img src="~/images/image_pomodoro.png" alt="Pomodoro" height="150px" width="150px">
        <p style="margin-left: 40px">Pomodoro</p>
    </div>
    <div class="column">
        <img src="~/images/active_recall.png" alt="Active recall" height="150px" width="150px">
        <p style="margin-left: 35px">Active Recall</p>
    </div>
    <div class="column">
        <img src="~/images/spaced.png" alt="Spaced repetition" height="150px" width="150px">
        <p style="margin-left: 15px">Spaced Repetition</p>
    </div>
</div>