@{
    ViewData["Title"] = "Workshops";
}
<h1>@ViewData["Title"]</h1>

<style>
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
</style>
<img src="~/images/work_in_progress.png" alt="Work in Progress" class="center" height="500px" width="300px">
