@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Register";
}

<style>
    .button-container {
        padding: 10px; /* Padding around the container */
        display: flex;
        flex-direction: column;
    }

    .botao_simples {
        display: block;
        width: 200px;
        height: 40px;
        margin: 10px auto;
        background-color: transparent;
        color: white;
        border: 2px solid white;
        text-align: center;
        font-weight: bold;
        text-decoration: none;
    }

        .botao_simples:hover,
        .botao_simples:active {
            color: white;
            border-color: white;
            text-decoration: none;
        }

</style>

<h2>@ViewData["Title"]</h2>
<h4>Associate your @Model.LoginProvider account.</h4>
<hr />


<div>
    <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <p>
            Autenticação com sucesso, escolha o seu nome de utilizador.
        </p>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div>
            <label asp-for="Input.Email">Email</label>
            <input asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="true" placeholder="name@example.com" readonly />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form">
            <label asp-for="Input.Username" class="form-label">Username</label>
            <input asp-for="Input.Username" class="form-control" autocomplete="username" aria-required="true" placeholder="username" />
            <span asp-validation-for="Input.Username" class="text-danger"></span>
        </div>
        <button type="submit" class="botao_simples">Register</button>
    </form>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}