@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<header>
    <meta name="google-signin-client_id" content="549363718496-q6bb7lckpnrbct9v1u9lt2pepltaafjl.apps.googleusercontent.com">
    <script src="https://www.gstatic.com/firebasejs/9.1.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.1.2/firebase-auth.js"></script>
</header>

<h1>@ViewData["Title"]</h1>
<div>
    <div>
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div>
                <label asp-for="Input.Email">Email</label>
                <input asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="true" placeholder="name@example.com" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Input.Username">Username</label>
                <input asp-for="Input.Username" class="form-control" autocomplete="username" aria-required="true" placeholder="Username" />
                <span asp-validation-for="Input.Username" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Input.Password">Password</label>
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Password" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div>
                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
            </div>

        </form>
        <div>
            <button id="googleSignUp" type="button" class="w-100 btn btn-lg btn-primary">Sign up with Google</button>
        </div>
    </div>
</div>


<script type="module">
    import { initializeApp } from 'https://www.gstatic.com/firebasejs/9.1.2/firebase-app.js';
    import { getAuth, GoogleAuthProvider, signInWithPopup } from 'https://www.gstatic.com/firebasejs/9.1.2/firebase-auth.js';

    const firebaseConfig = {
        apiKey: "AIzaSyAWSbp4V-DqEUqiM9McGE2cCjH3tpoH-Fk",
        authDomain: "studyo-82e06.firebaseapp.com",
        projectId: "studyo-82e06",
        storageBucket: "studyo-82e06.appspot.com",
        messagingSenderId: "476036324039",
        appId: "1:476036324039:web:453727a60d8c2ed8b93ce2",
        measurementId: "G-VNP3C216FY"
    };

    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
    const auth = getAuth(app);

    document.getElementById('googleSignUp').addEventListener('click', () => {
        const provider = new GoogleAuthProvider();
        signInWithPopup(auth, provider).then((result) => {
            var user = result.user;

            console.log(user);

            var username = user.displayName.replace(/ /g, '_');

            username = username.replace(/[^a-zA-Z0-9]/g, '');
            var password = user.uid;

            document.getElementById('Input_Username').value = username;
            document.getElementById('Input_Email').value = user.email;
            document.getElementById('Input_Password').value = password+('.');
            document.getElementById('Input_ConfirmPassword').value = password + ('.');

            document.getElementById('registerForm').submit();
        }).catch((error) => {
            console.error('Erro na autenticação com o Google', error);
        });
    });
</script>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}