html {
  font-size: 14px;
  color: white;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    color: white;
}

body {
    margin-bottom: 60px;
    background-image: linear-gradient(#0a090e, #543e96);
    color: white;
}

nav {
    font-size: 20px;
}

form {
    width: 50%;
    margin: 0 auto;
}

.nav-image{
    height: 40px;
    width: 190px;
    margin-top: 20px;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.validation-summary-errors {
    color: yellow; /* Change the color to your preferred color */
}