@model Studyo.Models.Subject

@{
    ViewData["Title"] = Model.Name;
}

<div class="text-center">
    <h1 class="display-4">@Model.Name</h1>
    <form action="@Url.Action("Content", "Disciplina")" method="post">
        <select id="dropdownMenu" name="id">
            <option value="default">Selecione um Modulo</option>
            @foreach (var chapter in Model.Chapters)
            {
                <option value="@chapter.Id" >@chapter.Name</option>
            }
        </select>
    </form>

</div>

<script>
    document.getElementById("dropdownMenu").addEventListener("change", function () {
        var contentId = this.value; // Get the selected chapter ID
        window.location.href = "/Disciplina/Content?id=" + contentId; // Navigate to the controller action
    });
</script>