@model Studyo.Models.UserSubject

@{
    ViewData["Title"] = Model.Subject.Name;
}

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        color: white;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        color: white;
    }

    tr:nth-child(even) {
        background-color: black;
    }
</style>

<script>
    const handleClick => () {
        document.getElementById("skaflasndilfbasd").textContent = "";
    }
</script>

<div>
    <div class="text-center">
        <h1 class="display-4">@Model.Subject.Name</h1>

        <form asp-controller="Disciplina" asp-action="Index" method="get">
            <p>
                Disciplina: <input id="skaflasndilfbasd" type="text" name="SearchString" />
                <input type="submit" value="Filtrar" />
                <input type="submit" onclick="handleClick()" value="Reset" />
            </p>
        </form>

    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Capítulos
                </th>
                <th>
                    Ações
                </th>
                <th>
                    Resultado Quiz
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Subject.Chapters)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a style="color:white" asp-action="Content" asp-route-id="@item.Id">Matéria</a> |
                        <a style="color:white" asp-action="Quiz" asp-route-id="@item.Id">Seguir para Quiz</a> |
                        <a style="color:white" asp-action="AnkiCards">Seguir para Anki Cards</a>
                    </td>
                    <td>
                        @if (Model.UserChapters.Any(userChapter => userChapter.ChapterId == item.Id))
                        {
                            var grade = Model.UserChapters.First(userChapter => userChapter.ChapterId == item.Id).BestGrade;
                            @if (@grade >= 75)
                            {
                                <h3>@grade% (Aprovado)</h3>
                            } else
                            {
                                <h3>@grade% (Reprovado)</h3>
                            }
                        }
                        else
                        {
                            <h3>Não realizado</h3>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
