@{
    ViewData["Title"] = "Home Page";
}

<style>
    .button-container {
        width: 100%;
        overflow-y: auto;
    }

    .button-container > p {
        background-image: linear-gradient(#0a090e, #543e96);
        height: 100px;
        width: 100px;
        float: left;
        margin: 15px;
        text-align: center;
    }
</style>

<div class="menu-container">
    <div class="button-container">
        <p class="button">Antropologia</p>
        <p class="button">Aplicações Matemáticas B</p>
        <p class="button">Biologia</p>
        <p class="button">Ciência Política</p>
        <p class="button">Clássicos da Literatura</p>
        <p class="button">Desenho A</p>
        <p class="button">Direito</p>
        <p class="button">Economia A</p>
        <p class="button">Economia C</p>
        <p class="button">Filosofia A</p>
        <p class="button">Filosofia B</p>
        <p class="button">Física</p>
        <p class="button">Geografia A</p>
        <p class="button">Geografia C</p>
        <p class="button">Geometria Descritiva A</p>
        <p class="button">Grego</p>
        <p class="button">História A</p>
        <p class="button">História B</p>
        <p class="button">História da Cultura e das Artes</p>
        <p class="button">Língua Estrangeira I</p>
        <p class="button">Língua Estrangeira II</p>
        <p class="button">Língua Estrangeira III</p>
        <p class="button">Latim A</p>
        <p class="button">Latim B</p>
        <p class="button">Literatura Portugesa</p>
        <p class="button">Literatura de Língua Portuguesa</p>
        <p class="button">Materiais e Tecnologias</p>
        <p class="button">Matemática A</p>
        <p class="button">Matemática B</p>
        <p class="button">Matemática Aplicada Às Ciências Sociais</p>
        <p class="button">Oficnia de Artes</p>
        <p class="button">Oficina de Multimédia B</p>
        <p class="button">Português</p>
        <p class="button">Psicologia B</p>
        <p class="button">Química</p>
        <p class="button">Sociologia</p>
    </div>
</div>