@model Studyo.Models.Subject

@{
    ViewData["Title"] = Model.Name;
}

<script>
    function redirectToView() {
        var selectedId = document.getElementById("dropdownMenu").value;
        window.location.href = "/Disciplina/Content?id=" + selectedId;
    }
</script>

<div class="text-center">
    <h1 class="display-4">@Model.Name</h1>
    <p>Capítulos:</p>
    <form action="@Url.Action("Content", "Disciplina")" method="post">
        <select id="dropdownMenu" name="id">
            <option value="Escolher capítulo">Escolher capítulo</option>
            @foreach (var chapter in Model.Chapters)
            {
                <option value="@chapter.Id">@chapter.Name</option>
            }
        </select>
        <input type="submit" value="Submit">
    </form>

</div>