@model List<Studyo.Models.Subject>

@{
    ViewData["Title"] = "Home Page";
}

<style>
    .menu-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .disciplinas_button {
        position: relative;
        background-image: linear-gradient(#0a090e, #543E96);
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1 0 calc(16.66% - 20px); /* for six columns, adjust as needed */
        margin: 10px;
        width: 100px; /* set a specific width */
        height: 100px; /* set a specific height */
        box-sizing: border-box; /* to include padding and border in the element's total width and height */
        overflow: hidden; /* to prevent text from overflowing */
        font-weight: bold; /* make the text bold */
        transition: background-color 0.5s ease; /* transition effect */
    }

        .disciplinas_button::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3); /* semi-transparent black */
            transform: scaleY(0);
            transition: transform 0.5s ease;
            transform-origin: top;
            z-index: 2;
        }

        .disciplinas_button:hover {
            color: white; /* keep the text color white on hover */
        }

            .disciplinas_button:hover::before {
                transform: scaleY(1);
            }

        .disciplinas_button span {
            position: relative;
            z-index: 3;
        }

    .botao_simples {
        display: block;
        width: 200px;
        height: 40px;
        margin: 20px auto;
        background-color: transparent;
        color: white;
        border: 2px solid white;
        text-align: center;
        line-height: 40px;
        font-weight: bold;
        text-decoration: none;
    }

        .botao_simples:hover,
        .botao_simples:active {
            color: white;
            border-color: white;
            text-decoration: none;
        }

</style>


<div class="menu-container">
    @foreach (var item in Model)
    {
        <a class="disciplinas_button" asp-controller="Disciplina" asp-action="Index" asp-route-id="@item.Id">@item.Name</a>
    }
</div>
<a class="botao_simples" asp-controller="Disciplina" asp-action="AlgoritmoChapterId">
    Seleção por Algoritmo
</a>
